:root {
  --fz-12: 0.75rem;
  --fz-14: 0.875rem;

  --fz-16: 1rem;
  --fz-18: 1.125rem;
  --fz-20: 1.25rem;
  --fz-22: 1.375rem;
  --fz-24: 1.5rem;
  --fz-26: 1.625rem;
  --fz-28: 1.75rem;
  --fz-30: 1.875rem;

  --fz-32: 2rem;
  --fz-34: 2.125rem;
  --fz-36: 2.25rem;
  --fz-38: 2.375rem;
  --fz-40: 2.5rem;
  --fz-42: 2.625rem;
  --fz-44: 2.75rem;
  --fz-46: 2.875rem;

  --fz-48: 3rem;
  --fz-50: 3.125rem;
  --fz-52: 3.25rem;
  --fz-54: 3.375rem;
  --fz-56: 3.5rem;
  --fz-58: 3.625rem;
  --fz-60: 3.75rem;
  --fz-62: 3.875rem;

  --fz-64: 4rem;
  --fz-66: 4.125rem;
  --fz-68: 4.25rem;
  --fz-70: 4.375rem;
  --fz-72: 4.5rem;
  --fz-74: 4.625rem;
  --fz-76: 4.75rem;
  --fz-78: 4.875rem;
  --fz-80: 5rem;
}
